{% extends base %}
{% block postamble %}
<link rel="icon" type="image/png" href="https://forum.tecommons.org/uploads/default/optimized/1X/f6c59c6cda6d9d113ecae35f759bd886314e39b6_2_32x32.png">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/@material/layout-grid@0.41.0/dist/mdc.layout-grid.min.css">
<style>
.grid {
  width: 100%;
}
.grid-cell {
  height: auto;
  border-radius: 4px;
  padding: 5px;
}
body {
    font-family: roboto;
    margin: 0px;
}
.appBar {
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    color: white;
    background: #7622a8;
    box-shadow: 5px 5px 20px #9E9E9E;
}
.appBar h1 {
    font-size: 20px;
    margin-left: 16px;
}
.logo {
    display: inline-block;
    max-height: 36px;
}
.appMenu * {
    width:100%;
    align-items: left;
}
.appMain {
    margin: 50px 10px;
}
p {
    font-size: 17px;
    text-align: justify;
}
.secone {
    height: 800px;
    z-index: -1;
}
.meme {
    height: 250px;
    width: 400px;
    margin: 0 auto;
}
.pie-charts {
    height: 400px;
}
.payout-table {
    height: 350px;
}
.dandelion {
    overflow: hidden;
    height: 600px;
    z-index: -1;
}
.params {
    z-index: 1;
}
.video {
    height: 315px;
    width: 560px;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}
</style>

{% endblock %}

<!-- goes in body -->
{% block contents %}
<div class="appContent" slot="appContent">
    <div class="appBar">
        <a href="https://tecommons.org/" target="_blank">
            <img class="logo" src="https://raw.githubusercontent.com/TECommons/tec-branding-assets/main/Logo/Light/TEC%20Logo%20Full%20Light.png" />
        </a>
        <h1>{{ app_title }}</h1>
    </div>
    <div class="appMain">
        <div class="mdc-layout-grid grid">
        <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 grid-cell">
            <h1>{{ app_title }}</h1>
            <p><b>NOTE: If there are multiple users, this page may take a few moments to load.</b></p>
            <p>Welcome to the TEC Hatch Configuration Dashboard!</p>
            <p>This tool will help YOU configure the parameters for the Hatch of the Token Engineering Commons. <b>Your Economy, Your Choice!</b></p>
            <p>Select your parameters, run them through the simulation as often as you want, and once you are happy with the results, submit your final configuration and outputs.</p>
            <p> The community will <a href="https://tokenlog.xyz/CommonsBuild/TEC-Hatch-Vote" target="_blank">vote on configuration submissions</a> and use them to foster discourse in the ethical design of the TEC and other community ecosystems!</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 grid-cell"><div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/7E8SGIIKiRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 grid-cell">
            <h2>Section 1: Hatch Configuration</h2>
            <p>
                During the <a href="https://forum.tecommons.org/t/the-hatch-tl-dr/272" target="_blank">Hatch</a> TECH tokens are minted and distributed to <strong>Backers</strong> and <strong>Builders</strong>. Backers send in wxDai and are minted TECH. If the minimum goal is reached, TECH will also be minted for the builders that earned Impact Hours. The parameters you choose below will determine the distribution.
            </p>
            <p>
               <i> To learn more about each parameter, mouse over the “?” for definitions or click on it for a deep dive. You can also take a look at an <a href="https://forum.tecommons.org/t/tec-test-hatch-implementation-specification/226" target="_blank"> example Hatch Spec</a> for a more holistic explanation.</i>
            </p>
            <div class="params">
                {{ embed(roots.B) }}
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 grid-cell" style="z-index: -1">
            <div class="secone">
                <div>
                    {{ embed(roots.D) }}
                </div>
                <div>
                    {{ embed(roots.C) }}
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 grid-cell">
            <h3>Redeem-ability of the DAO's wxDai</h3>
            <div class="pie-charts">{{ embed(roots.F) }}</div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 grid-cell payout-table">
            {{ embed(roots.E) }}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 grid-cell">
            <h2>Section 2: DAO Configuration</h2>
            <p>
                The TEC Hatch DAO has a similar configuration space as a v1 Moloch DAO. The parameters you choose below will determine the criteria necessary for votes to pass and be executed.
            </p>
            <p>
                <i> To learn more about each parameter, mouse over the “?” for definitions or click on it for a deep dive. You can also take a look at an <a href="https://forum.tecommons.org/t/tec-test-hatch-implementation-specification/226" target="_blank"> example Hatch Spec</a> for a more holistic explanation.</i>
             </p>
            <div class="params">
                {{ embed(roots.V) }}
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 grid-cell" style="z-index: -1">
            <div class="dandelion">
                <div style="height: 350px">
                    {{ embed(roots.W) }}
                </div>
                <div style="display: flex;">
                    <div class="meme" style="flex: 50%;">
                        {{ embed(roots.G) }}
                    </div>
                    <div class="meme" style="flex: 50%;">
                        {{ embed(roots.M) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 grid-cell">
            <h2>Results</h2>
            <div style="height: 100px">
                {{ embed(roots.CO) }}
            </div>
            <div>
                {{ embed(roots.BU) }}
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 grid-cell" style="height: 450px">{{ embed(roots.R) }}</div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 grid-cell">{{ embed(roots.OU) }}</div>
    </div>
</div>
{% endblock %}
